body{
	min-width: 290px;
}

#form-container{
 	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

#form-md-container{
	background-image: url("../img/regpage_dsktop.jpg?v3");
 	background-color: #fff;
 	height: 950px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	background-size: 800px;
}

#register-btn{
	background-image: url("../img/RegisterButton_Mobile.jpg?v3");
    background-color: #fff;
    height: 100px;
    max-width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px;
    cursor: pointer;
    margin-top: 50px;
}

.form-label{
	float: left;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 0.9rem;
	color: #5f5f5f;
}

.cb-label{
	text-transform: uppercase;
	font-size: 1rem;
	color: #5f5f5f;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #dedede;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(142 142 142 / 25%);
}

.form-check .form-check-input {
    float: unset!important;
    margin-left: 0em;
}

@media (min-width: 1px) {
	#form-container{
		background-image: url("../img/regpage_mobile.jpg?v3");
		height: 1000px;
		background-size: 300px 750px;
	}

	#first-form-label{
		padding-top:460px;
	}

	.form-element{
		max-width: 210px!important;
	}

	#register-btn{
		margin-top: 50px;
		max-width: 210px;
		height: 55px;
	}

	.form-label{
		margin-bottom: 10px;
	}

	.cb-label{
		font-size: 0.8rem;
	}
}

@media (min-width: 375px) {
	#form-container{
		background-image: url("../img/regpage_mobile.jpg?v3");
		height: 1200px;
		background-size: 370px 1000px;
	}

	#first-form-label{
		padding-top:555px;
	}

	.form-element{
		max-width: 290px!important;
	}

	#register-btn{
		margin-top: 35px;
		max-width: 290px;
		height: 75px;
	}

	.form-label{
		margin-bottom: 15px;
	}

	.cb-label{
		font-size: 1rem;
	}
}

@media (min-width: 430px) {
	#form-container{
		background-image: url("../img/regpage_mobile.jpg?v3");
		height: 1200px;
		background-size: 400px 1000px;
	}

	#first-form-label{
		padding-top:520px;
	}

	.form-element{
		max-width: 290px!important;
	}

	#register-btn{
		margin-top: 75px;
		max-width: 290px;
		height: 75px;
	}

	.form-label{
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	#form-container{
		background-image: url("../img/regpage_dsktop.jpg?v3");
		height: 950px;
		background-size: 800px;
	}

	#first-form-label{
		padding-top:335px;
	}

	.form-element{
		max-width: 400px!important;
	}

	#register-btn{
		margin-top: 45px;
		max-width: 290px;
		height: 75px;
	}
}

@media (min-width: 992px) {
	#form-container{
		background-image: url("../img/regpage_dsktop.jpg?v3");
		height: 1200px;
		background-size: 1000px;
	}

	#first-form-label{
		padding-top:480px;
	}

	.form-element{
		max-width: 600px
	}

	.form-label{
		margin-bottom: 25px;
	}

	#register-btn{
		margin-top: 85px;
		max-width: 290px;
		height: 65px;
	}
}