body{
	min-width: 290px;
	background-color: #000000; 
}

#bg-div{
	background-image: url(../img/cw_landingpage_new.jpg?v1);
    background-repeat: no-repeat;
  	background-position: center;
    background-color: #000000;
    background-size: cover;
}

#form-container{
 	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

#form-md-container{
	background-image: url("../img/PreForm_Desktop.jpg?v3");
 	background-color: #fff;
 	height: 950px;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	background-size: 800px;
}

#register-btn{
	background-image: url("../img/RegisterButton_Mobile.jpg?v3");
    background-color: #fff;
    height: 100px;
    max-width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px;
    cursor: pointer;
    margin-top: 50px;
}

.form-label{
	float: left;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 0.9rem;
	color: #5f5f5f;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #dedede;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(142 142 142 / 25%);
}

@media (min-width: 1px) {
	#bg-div{
		width: 350px;
		height: 1500px;
	}

	#top-btn{
		margin-top: 205px;
	}

	#bottom-btn{
		margin-top: 1170px;
	}

}

@media (min-width: 375px) {
	#bg-div{
		width: 350px;
		height: 1500px;
	}

	#top-btn{
		margin-top: 205px;
	}

	#bottom-btn{
		margin-top: 1170px;
	}

}

@media (min-width: 430px) {
	#bg-div{
		width: 350px;
		height: 1500px;
	}

	#top-btn{
		margin-top: 205px;
	}

	#bottom-btn{
		margin-top: 1170px;
	}
}

@media (min-width: 500px) {
	#bg-div{
		width: 450px;
    	height: 1850px;
	}

	#top-btn{
		margin-top: 260px;
	}

	#bottom-btn{
		margin-top: 1440px;
	}
}

@media (min-width: 768px) {
	#bg-div{
		width: 650px;
		height: 2800px;
	}

	#top-btn{
		margin-top: 410px;
	}

	#bottom-btn{
		margin-top: 2210px;
	}
}

@media (min-width: 992px) {
	#bg-div{
		width: 920px;
		height: 4000px;
	}

	#top-btn{
		margin-top: 600px;
	}

	#bottom-btn{
		margin-top: 3160px;
	}
}